<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Создать пользователя</p>
<form th:method="POST" th:action="save" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Enter lastname</label>
    <input type="text" th:field="*{lastname}" id="lastName"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
        </p>
    </form>

    <input type="submit" value="Create"/>
</form>
<hr/>
<a href="/logout">LOGOUT</a>
</body>
</html>